header {
  display: flex;
  justify-content: space-around;
}

.notification {
  height: 600px;
  background: powderblue;
  /* background-image: url("../images/dog.png"); */
}

.container {
  position: relative;
}

#page-header {
  border: 2px solid white;
  margin: 50px auto;
  height: 400px;
  max-width: 80%;
  z-index: -1;
  
}

#for-dog-pic {
  z-index: +1;
  width: 340px;
}

#image-dog {
  z-index: 1;
  width: 340px;
  position: absolute;
  margin: 60px;;
  

}

h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 80px;
  
  color: white;
  float: right;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info h2 {
  font-family: 'Roboto', sans-serif;
}
.info p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}
.button {
  background-color: ;
  border: none;
  color: ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  width: 100%;
  float: center;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 20px;
}
/* .button:hover {
  background-color: black;
  color: ;
} */
.button:active {
  background-color: ;
  box-shadow: 0 5px;
  transform: translateY(4px);
}
input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
label {
  font-family: 'Roboto', sans-serif;
}
main img {
  height: 150px;
  width: 150px;
  padding-top: 50px;
}
